<div class="container">
  <h1 class="title is-4">Review Your Order</h1>

  <div class="box">
    <h2 class="title is-6">Customer Details:</h2>
    <ul>
      <li><strong>Name:</strong> <%= current_user.name %></li>
      <li><strong>Province:</strong> <%= @userProvince.provinceName %></li>
      <li><strong>Address:</strong> <%= current_user.address %></li>
      <li><strong>Postal Code:</strong> <%= current_user.postalCode %> </li>
    </ul>
  </div>

  <div class="box">
    <h2 class="title is-6">Amiibos Ordered:</h2>
    <ul>
      <% @amiibos_with_quantities.each do |item| %>
        <li><strong><%= item[:amiibo].name %></strong> - $<%= item[:amiibo].price %> x <%= item[:quantity] %> = <strong>$<%= item[:amiibo].price * item[:quantity] %></strong></li>
      <% end %>
    </ul>
  </div>

  <div class="box">
    <h2 class="title is-6">Subtotal:</h2>
    <p><strong>$<%= @subtotal %></strong></p>
  </div>

  <div class="box">
    <h2 class="title is-6">Taxes Charged (GST + PST + HST):</h2>
    <p>$<%= @subtotal %> * <%= @userProvince.taxRate %> = <strong>$<%= @totalTaxes %></strong></p>
  </div>

  <div class="box">
    <h2 class="title is-6">Order Total:</h2>
    <p><strong>$<%= @total %></strong></p>
  </div>

  <%= button_to 'Proceed to Checkout', checkout_create_path, method: :post, params: { quantities: params[:quantities] }, class: "button is-primary is-fullwidth mb-6" %>
</div>
