<% content_for(:html_title) {@amiibo.name} %>


  <div class="container">
    <div class="columns is-centered">
      <div class="column is-narrow">
        <div class="box">
          <h1 class="title is-4 has-text-centered"><%= @amiibo.name %></h1>
          <div class="has-text-centered">
          <img width="200" src="<%= @amiibo.image%>" alt="<%= @amiibo.name %>">
          </div>
          <ul class="mt-2">
            <li>Character: <%= link_to @amiibo.character.name, @amiibo.character %></li>
            <li>Amiibo Series: <%= link_to @amiibo.amiibo_series.name, @amiibo.amiibo_series %></li>
            <li>Game Series: <%= link_to @amiibo.game_series.name, @amiibo.game_series %></li>
            <li>Release Date (NA): <%= @amiibo.release_date&.strftime("%B %d, %Y") %></li>
            <li>Price: $<%= number_with_precision(@amiibo.price, precision: 2) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
