<div class="container">
  <% content_for(:html_title) { @amiibo_series_show.name } %>

  <h1 class="title is-4"><%= @amiibo_series_show.name %> - Amiibo Series</h1>
  <h2>Displaying <%= @amiibos.total_count %> Amiibos:</h2>

  <br>
  <div class="ml-3">
    <%= paginate @amiibos %>
  </div>

  <br>
  <ul class="columns is-centered is-multiline">
    <% @amiibos.each do |amiibo| %>
      <li class="column is-one-quarter">
        <%= link_to amiibo do %>
          <div class="amiibo-card has-text-centered">
            <div class="amiibo-image-container">
              <img src="<%= amiibo.image %>" alt="<%= amiibo.name %> Amiibo." class="amiibo-image">
            </div>
            <p><%= amiibo.name %></p>
            <p>$<%= number_with_precision(amiibo.price, precision: 2) %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>


</div>



