<nav>
  <ul>
    <li><%= link_to_unless_current "All Amiibos", root_path %></li>
    <li><%= link_to_unless_current "Amiibo Series", amiibo_series_index_path %></li>
    <li><%= link_to_unless_current "Game Series", game_series_index_path %></li>
    <li><%= link_to_unless_current "Characters", characters_path %></li>
    <li><%= link_to_unless_current "About", about_index_path %></li>
  </ul>
  <%= form_with(url: search_amiibos_path, method: :get, local: true) do %>
    <%= text_field_tag(:keywords, nil, class: "input", placeholder: 'Search for Amiibos')%>
    <%= select_tag :amiibo_series_id, options_for_select([['All Amiibos', '']] +  AmiiboSeries.order(:name).collect { |series| [series.name, series.id] }) %>
    <%= submit_tag('Search', class: 'button is-primary')%>
  <% end %>
</nav>