<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:html_title) + " - " if content_for?(:html_title)%>Amiibo Alley</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

      <%= stylesheet_link_tag "custom.css", "data-turbo-track": "reload" %>
      <script src = "https://js.stripe.com/v3"></script>
      <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <%= render partial: 'common/navbar'%>
      </div>
    </section>
    <%= yield %>
  </body>
</html>
